<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <div class="mainText">
        <% skills.forEach(function(skill, i){ %>
            <a href="/skills/<%=i%>">-<%= skill.skill %></a></div>
            
            
       <%  })%>
       <br><br><br>
    
    </div>
    <a href="/skills/new">Add a Skill</a>  
    <br>
    <a href="/">Home</a>
  </body>
</html>
