<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div class="mainText">
       <div class="horizontal">
        <form action="/skills/<%= id %>?_method=DELETE" class="delete-form" method="POST">
            <div ><button type="submit">&#10060;</button>
        </form> 
        <%= 'Skill: ' %>
        <%= skills.skill %><br>
        <%= 'Experience: ' %>
        <%= skills.experience %>
        <br>
       
        </div>
       <br><br><br><br>

    </div>
    <a href="/skills/<%= id %>/edit">Edit Skill</a> 
    <br><br>
    <a href="/skills/">Back to Skills</a>
  </body>
</html>
