<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <div class="mainText">
        <%= skills.skill %><br>
        <%= 'Experience: '%>
        <%= skills.experience %> 
       <br><br><br><br>

    </div>
    <a href="/skills/">Back to Skills</a>
  </body>
</html>
